[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/cli11"]
	path = external/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/HIP"]
	path = external/HIP
	url = https://github.com/KaHIP/KaHIP.git
